@media only screen and (max-width: 576px) {

    /* Navbar */
    .header .container .navbar ul {
        display: none;
    }

    .header .container .navbar .menu_bar {
        display: block;
    }

    .header .container .navbar .menu_bar i {
        font-size: 45px;
        color: white;
    }

    /* Hero Content */

    .hero .container .hero_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
    }

    .hero .container .hero_content .hero-text p {
        margin: 40px 0;
    }

    .hero .container .hero_content .hero-text .stats .statt {
        top: 72%;
        right: 16%;
    }

    .hero .container .hero_content .hero-text .stats .stat {
        top: 93%;
        right: 50%;
    }

    /* Habits Section */

    .habits .break {
        display: block;
    }

    .habits .container .habit-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .habits .container .habit-cards .card .img img {
        width: 400px;
        height: 400px;
    }

    .habits .container .habit-cards .card h3 {
        font-size: 35px;
        margin-top: 40px;
    }

    .habits .container .habit-cards .card p {
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    /* Extra Mile */

    .extra-mile {
        padding: 40px;
    }

    .extra-mile .container .run {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .extra-mile .container .run .content .btn-primary {
        padding: 10px 150px;
    }

    .extra-mile .container .run .content h2 {
        font-size: 45px;
    }

    .extra-mile .container .run .content p {
        margin: 10px 0;
        font-size: 20px;
    }

    /* BMI Calculator */

    .bmi-calculator .containerr {
        margin-left: 30px;
    }

    .bmi-calculator .bmi .container .bmi-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bmi-calculator .bmi .container .bmi-content .bmi-chart {
        width: 80%;
    }

    .bmi-calculator .bmi .container .bmi-content .bmi-chart .table table {
        width: 100%;
    }

    .bmi-calculator .bmi .container .bmi-content .bmi-form h3 {
        margin-top: 30px;
        padding-left: 10px;
    }

    .bmi-calculator .bmi .container .bmi-content .bmi-form form button {
        padding: 18px 100px;
    }

    /* Team Section */

    .team {
        padding: 40px 0;
    }

    .team .team-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin: 30px 25px;
    }
}