@media only screen and (max-width: 576px) {

    /* Navbar */
    .header .container .navbar ul {
        display: none;
    }

    .header .container .navbar .menu_bar {
        display: block;
    }

    .header .container .navbar .menu_bar i {
        font-size: 45px;
        color: white;
    }

    /* Hero Content */

    .hero .container .hero_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
    }

    .hero .container .hero_content .hero-text p {
        margin: 40px 0;
    }

    .hero .container .hero_content .hero-text .stats .statt {
        top: 72%;
        right: 16%;
    }

    .hero .container .hero_content .hero-text .stats .stat {
        top: 93%;
        right: 50%;
    }

    /* Habits Section */

    .habits .break {
        display: block;
    }

    .habits .container .habit-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .habits .container .habit-cards .card .img img {
        width: 400px;
        height: 400px;
    }

    .habits .container .habit-cards .card h3 {
        font-size: 35px;
        margin-top: 40px;
    }

    .habits .container .habit-cards .card p {
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    /* Extra Mile */

    .extra-mile {
        padding: 50px 0;
    }

    .extra-mile .container .run {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
}